body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ds-app-container {
  margin-left: 384px;
  transition: margin-left 0.1s;
  padding: 20px;
  margin-bottom: 60px;
  overflow-x: auto;
}

.ds-app-container.ds-sidebar-closed {
  margin-left: 64px;
  transition: margin-left 0.1s;
}

.ds-custom-sheet-styles {
  [data-rsbs-overlay] {
    width: 400px;
    bottom: 56px;
  }
}
