body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ds-app-container {
  margin-left: 384px;
  transition: margin-left 0.1s;
  padding: 20px;
  margin-bottom: 60px;
  overflow-x: auto;
}

.ds-app-container.ds-sidebar-closed {
  margin-left: 64px;
  transition: margin-left 0.1s;
}

.ds-custom-sheet-styles {
  [data-rsbs-overlay] {
    width: 400px;
    bottom: 56px;
  }
}

:root {
  --color-neutral-100: var(--chakra-colors-neutral-100);
  --color-neutral-200: var(--chakra-colors-neutral-200);
  --color-neutral-300: var(--chakra-colors-neutral-300);
  --color-neutral-400: var(--chakra-colors-neutral-400);
  --color-neutral-500: var(--chakra-colors-neutral-500);
  --color-neutral-600: var(--chakra-colors-neutral-600);
  --color-neutral-700: var(--chakra-colors-neutral-700);
  --color-neutral-800: var(--chakra-colors-neutral-800);
  --color-neutral-900: var(--chakra-colors-neutral-900);

  --color-primary-100: var(--chakra-colors-primary-100);
  --color-primary-200: var(--chakra-colors-primary-200);
  --color-primary-300: var(--chakra-colors-primary-300);
  --color-primary-400: var(--chakra-colors-primary-400);
  --color-primary-500: var(--chakra-colors-primary-500);
  --color-primary-600: var(--chakra-colors-primary-600);
  --color-primary-700: var(--chakra-colors-primary-700);
  --color-primary-800: var(--chakra-colors-primary-800);
  --color-primary-900: var(--chakra-colors-primary-900);

  --color-secondary-100: var(--chakra-colors-secondary-100);
  --color-secondary-200: var(--chakra-colors-secondary-200);
  --color-secondary-300: var(--chakra-colors-secondary-300);
  --color-secondary-400: var(--chakra-colors-secondary-400);
  --color-secondary-500: var(--chakra-colors-secondary-500);
  --color-secondary-600: var(--chakra-colors-secondary-600);
  --color-secondary-700: var(--chakra-colors-secondary-700);
  --color-secondary-800: var(--chakra-colors-secondary-800);
  --color-secondary-900: var(--chakra-colors-secondary-900);

  --color-success-100: var(--chakra-colors-success-100);
  --color-success-200: var(--chakra-colors-success-200);
  --color-success-300: var(--chakra-colors-success-300);
  --color-success-500: var(--chakra-colors-success-500);
  --color-success-900: var(--chakra-colors-success-900);

  --color-warning-100: var(--chakra-colors-warning-100);
  --color-warning-200: var(--chakra-colors-warning-200);
  --color-warning-300: var(--chakra-colors-warning-300);
  --color-warning-500: var(--chakra-colors-warning-500);
  --color-warning-900: var(--chakra-colors-warning-900);

  --color-error-100: var(--chakra-colors-error-100);
  --color-error-200: var(--chakra-colors-error-200);
  --color-error-300: var(--chakra-colors-error-300);
  --color-error-500: var(--chakra-colors-error-500);
  --color-error-900: var(--chakra-colors-error-900);

  --color-accessible-text-on-primary-mids: var(--chakra-colors-accessible-text-on-primary-mids);
  --color-accessible-text-on-secondary-mids: var(--chakra-colors-accessible-text-on-secondary-mids);
  --color-accessible-controls-on-neutral-lights: var(--chakra-colors-accessible-controls-on-neutral-lights);
  --color-accessible-controls-on-neutral-darks: var(--chakra-colors-accessible-controls-on-neutral-darks);
}
