body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ds-app-container {
  margin-left: 384px;
  transition: margin-left 0.1s;
  padding: 20px;
  margin-bottom: 60px;
  overflow-x: auto;
}

.ds-app-container.ds-sidebar-closed {
  margin-left: 64px;
  transition: margin-left 0.1s;
}

.ds-custom-sheet-styles {
  [data-rsbs-overlay] {
    width: 400px;
    bottom: 56px;
  }
}

:root {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f6f6f6;
  --color-neutral-300: #e7e6e6;
  --color-neutral-400: #c9c9c9;
  --color-neutral-500: #b0b0b0;
  --color-neutral-600: #a1a1a1;
  --color-neutral-700: #5c5959;
  --color-neutral-800: #3d3b3b;
  --color-neutral-900: #1a1919;

  --color-primary-100: #fffbf2;
  --color-primary-200: #fcefd3;
  --color-primary-300: #fadfa7;
  --color-primary-400: #f5bf4f;
  --color-primary-500: #f0ab00;
  --color-primary-600: #de9e00;
  --color-primary-700: #855b00;
  --color-primary-800: #5F4205;
  --color-primary-900: #332300;

  --color-secondary-100: #f2f6ff;
  --color-secondary-200: #d7e0f7;
  --color-secondary-300: #b2c3f0;
  --color-secondary-400: #4f6cba;
  --color-secondary-500: #3855a3;
  --color-secondary-600: #0a4298;
  --color-secondary-700: #123369;
  --color-secondary-800: #162241;
  --color-secondary-900: #0b1121;

  --color-success-100: #ebf5f2;
  --color-success-200: #d3eed1;
  --color-success-300: #c2e5dc;
  --color-success-500: #009e77;
  --color-success-900: #00664d;

  --color-warning-100: #fbf7ea;
  --color-warning-200: #e3cc8f;
  --color-warning-300: #eedda5;
  --color-warning-500: #a88100;
  --color-warning-900: #715804;

  --color-error-100: #ffefed;
  --color-error-200: #eda1a9;
  --color-error-300: #f6c5c1;
  --color-error-500: #c11101;
  --color-error-900: #8d0d01;

  --color-accessible-text-on-primary-mids: #332300;
  --color-accessible-text-on-secondary-mids: #F2F6FF;
  --color-accessible-controls-on-neutral-lights: #855B00;
  --color-accessible-controls-on-neutral-darks: #F5BF4F;
}
